@media {
  .container {
    width: 100%;
  }
}

@media print {
  @page {
    size: 210mm 297mm;
    margin: 5mm 5mm 5mm 10mm;
  }
  * {
    margin: 0 !important;
    padding: 1px !important;
  }
  body {
    height: 100%;
    width: 100%;
  }

  h4 {
    font-size: 14px;
  }
  div {
    display: block;
  }
  .col-md-4, .col-md-6 {
    width: 33.3%;
  }
  div.row {
    display: block;
    white-space: nowrap;
  }
  div.row > div {
    display: inline-block;
  }

  .table-responsive {
    display: block;
    position: absolute;
    width: 100%;
  }

  td, th, tr {
    border: 1px solid #eee;
  }

  .col-wide-1 {
    width: 5%;
  }

  .col-wide-2 {
    max-width: 10%;
    font-size: 13px;

  }

  .col-wide-3 {
    width: 15%;
  }
}
