@media {
  .container {
    width: 100%;
  }
}

@media print {
  * {
    margin: 0 !important;
    padding: 2px !important;
  }
  body {
    height: 100%;
    width: 100%;
  }
  .col-md-4 {
    width: 30%;
  }

  td, th, tr {
    border: 1px solid #eee;
  }
}
